set sys <%= lig.basename %>
set stem <%= stem %>
set temperature 300
set prevBaseName ${sys}
set outputName outeabf.$stem
set time <%= time %>
set dt 2.0

# global configuration
parmfile                        <%= lig.topology_file %>
ambercoor                       <%= lig.coordinates_file %>
outputName                      $outputName
binCoordinates                  $prevBaseName.restart.coor
binVelocities                   $prevBaseName.restart.vel
extendedSystem                  $prevBaseName.restart.xsc

# time configuration (timestep 2 fs)
amber                           on          # AMBER IN NAMD
exclude                         scaled1-4   # AMBER IN NAMD
oneFourScaling                  0.833333    # AMBER IN NAMD
switching                       off         # AMBER IN NAMD
cutoff                          28          # AMBER IN NAMD
pairListDist                    30          # AMBER IN NAMD
#LJcorrection                   on          # AMBER IN NAMD Take care, in alchemical simulations should be on.
scnb                            2.0         # AMBER IN NAMD
readexclusions                  yes         # AMBER IN NAMD
ZeroMomentum                    on          # AMBER IN NAMD

# avoid "periodic cell too small for patch grid" errors
margin                          5

# integration
rigidBonds                      none         # AMBER IN NAMD (water, all or none)
rigidTolerance                  1.0e-8        # AMBER IN NAMD  
useSettle                       on            # AMBER IN NAMD
timestep                        $dt
seed                            123
firstTimestep                   0
fullElectFrequency              2             # AMBER IN NAMD
nonBondedFreq                   1             # AMBER IN NAMD
stepsPerCycle                   1            # AMBER IN NAMD

# Thermostat Parameters
langevin            on                  # AMBER IN NAMD (on or off)
langevintemp        $temperature        # AMBER IN NAMD
langevinHydrogen    off                 # AMBER IN NAMD
langevindamping     1                   # AMBER IN NAMD

# Barostat Parameters
usegrouppressure    yes                 # AMBER IN NAMD (on or off)
useflexiblecell     no                  # AMBER IN NAMD
useConstantArea     no                  # AMBER IN NAMD

# Implicit solvent Parameters
gbis                            off

# output
binaryOutput                    yes
binaryRestart                   yes
outputEnergies                  <%= output_frequency %>
outputPressure                  <%= output_frequency %>
outputTiming                    <%= output_frequency %>
xstFreq                         <%= output_frequency %>
dcdFreq                         <%= output_frequency %>
restartFreq                     <%= output_frequency %>
wrapAll                         no # deactivated in free energy calculations.

# colvars
colvars                         on
colvarsConfig                   ${stem}.colvars

# Execution 
minimize                        100
reinitvels                      $temperature
run                             [expr int($time * 1e6 / $dt)]